# ------------------------------
# Node (both client + backend)
# ------------------------------
node_modules/
.pnpm-store/

# ------------------------------
# Build outputs
# ------------------------------
dist/
build/
.next/
out/

# ------------------------------
# Logs
# ------------------------------
*.log
pnpm-debug.log*

# ------------------------------
# Env files
# ------------------------------
.env
.env.*
!.env.example

# ------------------------------
# IDE
# ------------------------------
.vscode/
.idea/

# ------------------------------
# OS
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# TypeScript
# ------------------------------
*.tsbuildinfo

# ------------------------------
# Coverage
# ------------------------------
coverage/